@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono&display=swap');

html, body {
    padding: 15px;
    margin-top: -10px;
}

h1, h2{
    font-family: 'Red Hat Mono', monospace;
}

p {
    font-family: 'Red Hat Mono', monospace;
}

summary {
    font-family: 'Red Hat Mono', monospace;
    font-size: 110%;
}

summary p {
    font-size: 80%;
    margin: 5;
    margin-bottom: 5px;
}
