@import url('/fonts.css');

h1 {
	font-family: 'Varela Round', sans-serif;
}

p {
	font-family: 'Varela Round', sans-serif;
}

summary {
	font-family: 'Varela Round', sans-serif;
	font-size: 110%;
}

summary p {
	font-size: 80%;
	margin: 5;
	margin-bottom: 5px;
}

#main {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 15px;
	color: whitesmoke;
}
